body {background-image:url(fundo5.jpg); background-attachment:fixed; background-size: 1350px 650px;}
body {border: 30px; text-indent: 50px;}
h1 {font-size: 55px;font-style: italic; text-indent: 0px;}
h2 {font-size: 210%;}
h4 {font-size: 130%;}
p {font-size:20px;}